@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Light.eot');
  src: url('../../assets/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Gilroy-Light.woff2') format('woff2'),
      url('../../assets/fonts/Gilroy-Light.woff') format('woff'),
      url('../../assets/fonts/Gilroy-Light.ttf') format('truetype'),
      url('../../assets/fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('../../assets/fonts/Muli.eot');
  src: url('../../assets/fonts/Muli.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Muli.woff2') format('woff2'),
      url('../../assets/fonts/Muli.woff') format('woff'),
      url('../../assets/fonts/Muli.ttf') format('truetype'),
      url('../../assets/fonts/Muli.svg#Muli') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-ExtraBold.eot');
  src: url('../../assets/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
      url('../../assets/fonts/Gilroy-ExtraBold.woff') format('woff'),
      url('../../assets/fonts/Gilroy-ExtraBold.ttf') format('truetype'),
      url('../../assets/fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}